ENV={development | production}
PORT=3000
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium # e.g. C:\Program Files\Google\Chrome\Application\chrome.exe (Windows) or /usr/bin/google-chrome-stable (Linux) or /Applications/Google Chrome.app/Contents/MacOS/Google Chrome (Mac)
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
JWT_SECRET=secret
MONGODB_URI=mongodb://localhost:27017/whatsbot
