<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsBot QR Code</title>
    <link rel="icon" href="/public/favicon.png">
</head>
<body>
    <div align="center">
        <div id="qrCodeData">
            <h3>🤖 WhatsBot : Scan the QR Code to Continue! </h3>
            <% if (qrCodeData) { %>
                <img src="https://api.qrserver.com/v1/create-qr-code/?data=<%= encodeURIComponent(qrCodeData) %>&size=300x300" alt="QR Code" />
            <% } else { %>
                <img src="/public/loader.svg" alt="Loader" width="100" height="100" />
                <p>Hold on a sec while the QR code is being generated.</p>
            <% } %>
        </div>
        <script>
            const checkQrStatus = () => {
                fetch('/qr-status')
                    .then(response => response.json())
                    .then(data => {
                        if (!data.qrScanned) {
                            location.reload();
                        } else {
                            window.location.href = '/';
                        } 
                    });
            };
            setInterval(checkQrStatus, 10000);
        </script>
    </div>
</body>
</html>
